.hero-title-breadcrums{
  padding-top: 210px;
  color: $color-white;
  font-size: 40px;
  text-shadow: 1px 1px 5px $color-1;
  text-align: center;
}

.gb-breadcrumbs{
  background: url("../images/airplane-wing-2.jpg") no-repeat;
  background-size: cover;
  height: 450px;
  background-position: center center;
}