.gb-getvisa-page-form{
  background: $color-main;
  padding: 20px 15px;
  .form-group{
    select{
      width: 100%;
      height: 45px;
    }
    .normal-rush{
      display:  flow-root;
      li{
        float:  left;
        width: 50%;
        border: 1px solid $color-main1;
        background: $color-white;
        padding: 5px 15px;
        line-height: 26px;
        text-align: center;
        &.active{
          background: $color-main1;
          color: $color-white;
          border-color:  $color-white;
        }
      }
    }
    ul{
      li{
        font-size: 14px;
      }
    }
    span{
      font-size: 14px;
    }
  }
}