.list_social{
  text-align: right;
  li{
    display: inline-block;
    a{
      width: 40px;
      height: 40px;
      border: 2px solid $color-main;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      color: $color-main;
      border-radius: 50%;
    }
  }
}