.gb-sidebar-whychooseus{
  margin-top: 30px;
  .widget-title{

  }
  .widget-content{
    ul{
      li{
        color: $color-grey;
        font-size: 12px;
        line-height: 16px;
        margin: 0 0 18px;
        min-height: 34px;
        padding: 0 0 0 45px;
        position: relative;
        i{
          position: absolute;
          color: $color-main;
          left: 0px;
          top: 0px;
          font-size: 30px;
        }
      }
    }
  }
}